.introtext {
    background-color:rgb(219, 124, 77) ;
    color: white ;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.topics-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}