.question-container {
    box-shadow: 10px 10px 10px 10px rgb(226, 232, 234);
    /* width: 800px; */
    margin: 20px;
    border-radius: 10px;

}

.title-div {

    display: flex;
    justify-content: center;
    gap: 20px;
}

.answers{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.answers p{
    border: 2px solid rgb(117, 117, 236);
    margin: 10px;
    height: 80px;
    border-radius: 10px;
}

.eyeicon {
    color: rgb(117, 117, 236);
    cursor: pointer;
}